# PyCharm service folder
.idea
*__pycache__

# Python virtual environment
.venv

# File for storage temporary regexes
*.json

# dbs
*.db
*.db-journal

# research
*.ipynb_checkpoints
*.xlsx
*.csv
*tmp*

# tests
*test_regexes

# other
*example*
*.DS_Store
*node_modules
*clustering_results_for_report*

# public repositories
*html-to-pdf