# PyCharm service folder
.idea
*__pycache__

# Python virtual environment
.venv

# File for storage temporary regexes
*.json

# dbs
*.db

# research
*.ipynb_checkpoints
*.xlsx
*.csv
research/clustering/assets/
reearch/clustering/clustering_reports/

# other
*.DS_Store

