# TF-IDF matrix
scikit-learn>=1.6.1
pandas>=2.2.3

# algorithms
seaborn>=0.13.2
fuzzy-c-means>=1.7.2

# visualize
matplotlib==3.9.0
umap-learn>=0.5.7

# for BERT embeddings
transformers[torch]

# other
pyyaml